@import './colors';
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,500;0,700;1,600&display=swap');

body {
    font-family: 'Work Sans', Helvetica, sans-serif;
    width: 80%;
    margin: 20px auto;
    color: $primary-text;
    font-size: 1.1em;
}

.MuiButton-root,
input {
    background-color: $primary-bg;
    font-family: 'Work Sans', Helvetica, sans-serif;
    font-weight: 500;
    display: block;
    width: 80%;
    margin: 15px auto;
}

input {
    border: none;
    border-bottom: 0.5px solid $primary-text;
    margin-bottom: 15px;
    height: 30px;
}

input:focus {
    caret-color: $primary-text;
    outline: none;
}

.MuiButton-root {
    text-transform: none;
    padding: 10px;
    border-radius: 8px;
    border-color: $primary-text;
    margin-top: 30px;
}

img {
    display: block;
    width: 80%;
    margin: 15px auto;
}
